<div class="row">
	
		<div class="col-md-8"><p><%= render partial: 'entries/entry' ,:locals => {:entry=> @entry}%></p></div>
        <div class="col-md-3"><p>Blog Info</p></div>
        <div class="clearfix"></div>
        
	</div>
