<div class="col-md-11">
	<div class="jumbotron">
		My name is goingpaper a university student studying computer science.</br>
		I enjoy web developement and game design, my blog will be made up of posts</br>
		on those topics as well general posts about whatever i feel like writing about.</br>
		Enjoy this insight into my life!
	</div>
</div>
